* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: clamp(0.75rem, 0.5rem + 0.8333vw, 1rem);
}

body {
    font-family: "Noto Sans JP", "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    overscroll-behavior: none;
}

header {
    position: absolute;
    top: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: calc(100vw - 2rem);
    padding: 0 1rem;
}

div.work-info {
    max-width: 60%;
}

h1 {
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

div.work-info p {
    height: 0;
    font-family: "Noto Sans JP", "sans-serif";
    font-size: 0.75rem;
    color: #aaa;
    margin-top: 0.25rem;
}

div.links {
    display: flex;
    gap: 1rem;
}

div.links a {
    color: #aaa;
    font-size: 0.75rem;
    transition: color 0.15s;
}
div.links a:hover {
    color: #fff;
}


audio {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    z-index: 10;
}

canvas#visualizer {
    display: block;
    width: 100vw;
    height: 100dvh;
    background-color: #222;
}