* {
    margin: 0;
    padding: 0;
}

audio {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

canvas#visualizer {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #222;
}