* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

header {
    position: absolute;
    top: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: calc(100vw - 2rem);
    padding: 0 1rem;
}

h1 {
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

div.links {
    display: flex;
    gap: 1rem;
}

div.links a {
    margin-top: 0.5rem;

    color: #aaa;
    font-size: 1rem;
    transition: color 0.15s;
}
div.links a:hover {
    color: #fff;
}

div.copy-right {
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    color: #808080;
    font-size: 0.75rem;
}

audio {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    z-index: 10;
}

canvas#visualizer {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #222;
}